<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foda_.pets_sales_project" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/pet"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".MainApp"
            android:label="@string/title_activity_main_app"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".My_Adds"
            android:label="@string/title_activity_my__adds"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Main22Activity"
            android:label="@string/title_activity_main22"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PetInformation"
            android:label="@string/title_activity_pet_information"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
